.fill-parent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.clickable {
    --size: 58px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.5em;
    background-color: transparent;
    color: var(--font-color);

    border: none;
    border-radius: 6px;

    min-height: var(--size);
    min-width: var(--size);

    cursor: pointer;

    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

.clickable:hover {
    color: var(--emphasis-color);
    background-color: rgba(255, 255, 255, 0.25);
}

.section-light {
    background-color: var(--light-background);
}

.section-dark {
    background-color: var(--dark-background);
}

.full-section {
    position: relative;
    width: 100%;
    height: 100vh;
}

.section {
    max-width: 100%;
    padding: 5em 16em;
    gap: 2.5em;
}

.split-view {
    display: flex;
    gap: 4em;
}

.split-view .view {
    flex-basis: 50%;
    flex-grow: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-item {
    padding: 1em
}

.flex {
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.justify {
    text-align: justify;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover, b, i {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: normal;
}

.project, .tags {
    gap: 0.625em;
}

.project .project-summary {
    font-size: 1.15em;
    line-height: 1.6em;
    text-align: justify;
}

.tags {
    flex-wrap: wrap;
}

.tag {
    padding: 0 0.25em;
    background-color: var(--tag-color);
    border-radius: 6px;
}

.tag-green {
    --tag-color: #006115;
}

.tag-purple {
    --tag-color: #6f007b;
}

.tag-orange {
    --tag-color: #613800;
}

.project h3 {
    text-align: left;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.contact-detail {
    font-size: 1.25em;
    display: flex;
    gap: 1.25em;
    padding: 0.5em;
    border-radius: 6px;
}

.contact-detail > * {
    margin: auto 0;
}

.contact-detail span {
    color: white;
}

.contact-detail:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .section {
        padding: 5em 2em;
    }

    .split-view {
        flex-direction: column;
    }

    #works .project {
        border-left: 0!important;
        padding-left: 0!important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .section {
        padding: 5em 2em;
    }

    .split-view {
        flex-direction: column;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

    .section {
        padding: 5em 3em;
    }

    #intro .split-view {
        flex-direction: column;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) and (min-width: 992px){
    .section {
        padding: 5em;
    }
}


.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate ;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate ;
}

@-webkit-keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}
@keyframes slide-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-30px);
    }
}
