:root {
    --primary-color: #0079C3;
    --secondary-color: #5BC300;

    --dark-background: #111316;
    --light-background: #1D2227;

    --font-color: #C9C9C9;
    --emphasis-color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-background);
    color: var(--font-color);
}

body, p, .text {
    font-family: "Kodchasan", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lancelot, sans-serif;
    text-align: center;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.25em;
}

h4 {
    font-size: 1.75em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 0.75em;
}

p {
    font-size: 1.3em;
}

.credits {
    position: absolute;
    bottom: 1em;
    left: 1em;
    gap: 1em;

    font-size: 1em;
    padding: 0 2em;
    border-radius: 6px;
    z-index: 3;
}

#landing .section-background {
    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;
}

#landing .section-content {
    z-index: 2;
}

#landing .socials a {
    color: var(--emphasis-color);
}

#intro .left-view {
    gap: 1.5em;
    line-height: 2.5em;

    justify-content: center;
}

#intro .grid-item img {
    max-width: 100px;
}

#works .project {
    padding: 1em 2em;
    border-left: 6px solid var(--light-background);
}

#works .actions {
    margin-top: 1em;
}

#works .action, #contact .action, .panic-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--emphasis-color);
    padding: 0.5em 1em;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
}

.panic-button {
    margin-top: 2em;
}

.panic-button:hover {
    font-weight: bold;
    color: white;
}

#works .action.action-website {
    background-color: var(--light-background);
}

#contact .cv {
    color: white;
    background-color: var(--primary-color);
    justify-content: center;
}

#contact .map iframe {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
}

#scroll-indicator {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);

    width: 30px;
    height: 30px;
    color: white;

    z-index: 3;
}

#effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    --mouse-x: -50vw;
    --mouse-y: -50vh;
    --size: 300px;
    z-index: 1;
}

#effect .flash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: radial-gradient(
            circle var(--size) at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)
    );
}

#effect .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#effect.transition > div {
    transition: opacity 5s ease-in-out;
}

#effect .flash {
    opacity: 0;
}

#effect .overlay {
    opacity: 1;
}

#effect.enabled .flash {
    opacity: 1;
}

#effect.enabled .overlay {
    opacity: 1;
}

#language-switcher {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 100;
}
