* {
    margin: 0;
    padding: 0;
}

html, body, #content {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: Lancelot, sans-serif;
    background-color: black;
    color: white;

    background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center;
}

#content {
    display: flex;
    flex-direction: column;
    /*background-color: rgba(29, 34, 59, 0.4);*/
}

#hello {
    z-index: 2;
    margin: auto;
    text-align: center;
}

#hello .short-name {
    font-size: 5em;
    font-family: "Kodchasan", sans-serif;
    margin-bottom: 0.75rem;
}

#hello .title {
    font-size: 2.6em;
    letter-spacing: 1px;
    margin-bottom: 0.75rem;
}

#hello .socials {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
}

#hello .socials a {
    display: flex;
    color: #df7701;
    border-radius: 55px;
    height: 58px;
    width: 58px;
    background-color: rgba(29, 34, 59, 0.7);

    transition: color .25s ease-in-out, background-color .25s ease-in-out;
}

#hello .socials a:hover {
    color: white;
    background-color: rgba(29, 34, 59, 1);
}

#hello .socials a svg {
    margin: auto;
}

#hello .notice {
    font-size: 1.25em;
}

#hello .im-lazy {
    opacity: 0.8;
    font-style: italic;
    font-size: 1rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

#effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    --mouse-x: -50vw;
    --mouse-y: -50vh;
    --size: 300px;
    z-index: 1;
}

#effect .flash {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: radial-gradient(
            circle var(--size) at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)
    );
}

#effect .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#effect.transition > div {
    transition: opacity 5s ease-in-out;
}

#effect .flash {
    opacity: 0;
}

#effect .overlay {
    opacity: 1;
}

#effect.enabled .flash {
    opacity: 1;
}
#effect.enabled .overlay {
     opacity: 1;
 }
